[2013-07-06 23:39] porada commented on #5
@teamon, don’t you like the avatar that’s currently used by the organization? :wink:

[2013-07-06 23:40] teamon commented on #5
yellow == js, rails-assets is more that js! ;)

TBH I'm fine with that, just make favicon version

[2013-07-07 00:16] teamon commented on #3
IDEA: Use github API to create Issues in github repos

[2013-07-07 18:39] sheerun commented on #3
Idea ++, but I'd include in such PR all issues. e.g. missing description, component.js -> bower.js, etc.

[2013-07-07 18:40] sheerun commented on #7
No such need imho. But we can send PR, that minified versions are not needed..

[2013-07-07 18:40] teamon commented on #7
There is a need, in some repos there is

[code]

[2013-07-07 20:58] porada commented on #3
Basically, what @sheerun described is a Bower package validator. It may be a good idea, but this surely is a separate project to build (unless there exists a similar one).

[2013-07-07 21:01] porada commented on #7
I agree that `foo.min.js` is a _valid_ part of project `dist/` contents, but—in such cases—it’s simply a duplicate of `foo.js` and shouldn’t be referenced within `main`.

[2013-07-07 21:07] porada commented on #11
@sheerun Thanks for helping out!

[2013-07-09 12:20] sheerun commented on #8
You can use String.dump:

[code]

[2013-07-11 16:30] teamon commented on #13
fixed

[2013-07-14 16:09] sheerun commented on #9
@teamon Is this resolved?

[2013-07-14 16:11] teamon commented on #9
Nope, we're still using bower

[2013-07-14 16:13] sheerun commented on #9
You can't call node directly from ruby. I think bower is good api.

[2013-08-06 22:13] porada commented on #5
How lame of me:

[2013-08-12 08:24] sheerun commented on #18
why?

[2013-08-14 22:02] porada commented on #18
![F.S.](https://f.cloud.github.com/assets/2060580/965543/1f5e8a7c-052d-11e3-8cf6-6ca6c79fae9d.jpg)

[2013-08-20 21:16] teamon commented on #19
meh, nvm (missing anything.json)

[2013-09-05 22:47] sheerun commented on #3
I think `main` should not be obligatory. `component.json` can contain such field as `ignore` and deliberately not have `main` key, because of character of library. Here are examples: zurb-foundation, bootstrap, each pure sass/scss/less colleciton like preboot, html-polyfills, dexteryy/mo, jquery-ui, and every time you need just one js from repo, and not huge compiled script.

If `main` exists in m

[2013-09-15 17:31] porada commented on #12
Credited them in the README.

[2013-09-15 17:32] porada commented on #23
@teamon, has this been improved lately?

[2013-09-23 08:28] sheerun commented on #25
@jandudulski What do you think? Readme only, or repo description with fallback to readme?

[2013-09-23 08:30] jandudulski commented on #25
Repo description sounds ok.

[2013-09-23 08:32] teamon commented on #25
Repo description sounds like one more github api hit, one more place for error handling, one more place for failure and one more place that slows down whole convert process. Rails Assets is not intended to be bower packages browser, there is one already.

[2013-09-23 08:35] sheerun commented on #25
I thought `.git/description` is always in sync with github. This need
reconsidering indeed.

On Mon, Sep 23, 2013 at 10:32 AM, Tymon Tobolski
notifications@github.comwrote:

[2013-09-23 08:36] sheerun commented on #28
No way. It's better to disable those tests until they're fixed.

[2013-09-23 08:36] teamon commented on #28
They are not broken, this is clearly a network issue. And mock are not an option at all.

[2013-09-23 08:40] sheerun commented on #28
Thests fail on Travis, and this issue needs to be addressed one or other way. This should be reopened.

[2013-09-26 23:16] porada commented on #28
It looks like updating Bower [fixed the issue](https://travis-ci.org/rails-assets/rails-assets/builds/11685240).

[2013-10-13 13:13] sheerun commented on #25
We're now using information from bower registry to fetch description.

[2013-10-13 13:14] sheerun commented on #29
it has been already done

[2013-10-13 13:14] sheerun commented on #23
Yup, at most rails-assets will output bower json error. It can be improved further, but for now closing.

[2013-10-13 13:22] sheerun commented on #3
Implemented in #33

[2013-10-13 16:48] sheerun commented on #31
Fixed in #33 + urls as version names

[2013-10-14 13:24] sheerun commented on #34
Fixed in #33

[2013-10-25 16:21] sheerun commented on #9
We'll never get rid of them. We're using bower via JSON API and it is the only reasonable way to communicate with it. We require bower for repository information retrieval including description, versions, and dependencies. Won't fix.

[2013-10-25 16:22] sheerun commented on #35
Already done saving paths in db. I'm leaving it to @porada to implement at frontend.

[2013-11-03 13:17] sheerun commented on #38
I find no other solution than hard (non-background) reindex upon each build.

Please also reference https://github.com/rubygems/rubygems/issues/494

[2013-11-03 14:27] sheerun commented on #38
Maybe set Gem::Specification.all to one gam and run build_marshal_gemspecs and then run full reindex (build_modern_indices) in background?

[2013-11-03 14:27] sheerun commented on #38
@teamon by the way, why HackedIndexer?

[2013-11-03 22:25] teamon commented on #38
Because by default Indexer somehow ignores file lists and uses system paths (to system gemspacs)

[2013-11-04 03:50] sheerun commented on #35
ping @porada

[2013-11-04 03:51] sheerun commented on #36
Will be fixed in #37

[2013-11-04 03:53] sheerun commented on #38
I use `update_index` instead of `generate_index` in #37. It should fix the problem as there is no reindexing in background.

[2013-11-04 08:49] porada commented on #35
Yup, I’m aware.

[2013-11-10 02:31] sheerun commented on #35
Closed by 9af4fba83

[2013-11-11 15:29] sheerun commented on #42
ok now

[2013-11-11 21:32] teamon commented on #44
Any arguments?

[2013-11-11 21:35] teamon commented on #43
This project isn't publicity released yet. HTTPS is somewhere down the todo list.

Anyway, how is HTTPS connected with "uploads" ?

[2013-11-11 22:24] krainboltgreene commented on #43
Oh, it looks publically released.

And if I can MITM the connection I can change the upload.

[2013-11-12 00:22] teamon commented on #45
Thanks @billsaysthis, we are working on it. Please keep in mind that this project hasn't been publicly released yet (it will be very soon, just not yet)

[2013-11-12 02:23] sheerun commented on #44
I think for now it's ok. We can change it at any moment. API endpoint won't change anyway.

[2013-11-12 18:29] sheerun commented on #45
We have severe issues with locking between processes to re-generate indexes. For now site is going down. I'll try to implement some stable locking solution. I cannot find any maintained gem for it, unfortunately.

[2013-11-12 18:40] dmilith commented on #45
@billsaysthis www.* will also point to web site now.

[2013-11-12 18:53] porada commented on #45
@dmilith, could you simply redirect anything served from `www.rails-assets.org/*` to `rails-assets.org/$1`?

[2013-11-13 10:02] dmilith commented on #45
@porada Done redirect from www.rails-assets.org/anything to rails-assets.org/anything

[2013-11-13 10:03] porada commented on #45
Thanks! Can I close this issue?

[2013-11-13 10:05] sheerun commented on #45
It's not about www or not, but about 504 on homepage because of problems with locking.

[2013-11-13 10:07] porada commented on #45
Okay, leaving this to you guys.

[2013-11-16 00:30] sheerun commented on #45
This should be resolved by 8f7c0039d1a I made numerous tests regarding file locking and released gem that should hold the standard. I also added 60 seconds timeout for file locking, so there should be no permanently locked processes.

[2013-11-16 00:36] sheerun commented on #45
It can be noted, SideTiq was also the problem. It restarted scheduled jobs repeatedly causing 100% CPU and blocking. @teamon Fixed that in 9fa8ba636322

[2013-11-16 00:38] sheerun commented on #43
@krainboltgreene We don't have uploads :) But I agree TLS would be helpful. @teamon @bartoszpietrzak Could you take care of it? We need certificate only for bare domain.

[2013-11-16 00:46] sheerun commented on #44
@krainboltgreene http://rubygems.org/ doesn't seem to have problems with that. Are you sure it's an issue?

[2013-11-16 00:53] sheerun commented on #44
@teamon I re-thought it and it can be an issue if enough people (or one hacker) are building components through www and exhaust worker pool. In this case the site would just block. It is not http://rubygems.org/ issue because they don't allow building from www.

[2013-11-16 20:02] teamon commented on #44
I'd rather make building via www async (put it in queue, simple ajax polling for status)

[2013-11-16 23:41] sheerun commented on #44
I've created new issue for it #47 This one is closed.

[2013-12-02 13:15] dgertych-monterail commented on #50
@teamon @sheerun Could you fix that?

[2013-12-09 10:12] sheerun commented on #43
Rails Assets is now available under https too.

[2013-12-09 10:13] sheerun commented on #52
As it turns out ruby allows for version 0.0.0

[2013-12-09 15:50] tallica commented on #49
@sheerun This is related: https://github.com/urish/angular-spinner/blob/master/bower.json#L12

[2013-12-09 23:44] krainboltgreene commented on #43
Awesome.

On Mon, Dec 9, 2013 at 2:12 AM, Adam Stankiewicz
notifications@github.comwrote:

##

Kurtis Rainbolt-Greene, Hacker
Software Developer
612 S. Flower St.
Los Angeles, CA, 90017

[2013-12-10 15:08] sheerun commented on #56
Could you post relevant parts of Gemfile and Gemfile.lock?

[2013-12-10 15:13] jandudulski commented on #56
Gemfile:

[code]

I cannot do `bundle update` so Gemflie.lock is outdated right now.

[2013-12-10 15:14] sheerun commented on #56
I doesn't matter, could you post those entries from Gemfile.lock?

[2013-12-10 15:15] sheerun commented on #56
OK, I recreated issue, nvm.

[2013-12-10 15:24] sheerun commented on #56
If you look at commits in this repo, it turns out they fixed this dependency a day after releasing 1.2.4, and rails-assets built this component before that fix: https://github.com/angular/bower-angular-route/commits/master

Rails Assets is working OK. I'm not sure what to do with such cases.

[2013-12-10 15:28] sheerun commented on #56
I've re-builded this gem. Please try:

[code]

[2013-12-10 15:32] jandudulski commented on #56
We should probably slap angular guys :wink: helped, thanks!

[2013-12-12 14:09] sheerun commented on #62
no way to do that

[2013-12-12 14:11] teamon commented on #62
There is always a way. We can at least optimistically parse bower error message with regexp

[2013-12-12 14:22] sheerun commented on #62
Oh, you meant Bower error, not rubygems error. That's possible.

[2013-12-12 17:31] teamon commented on #64
Thanks :)

PRs are more than welcome.

[2013-12-12 17:32] onlymejosh commented on #64
Just realised its on the website do you use gh-pages?

Josh
Serious Fox

On 12 Dec 2013, at 17:31, Tymon Tobolski notifications@github.com wrote:

[2013-12-12 17:39] teamon commented on #64
It is here https://github.com/rails-assets/rails-assets/blob/master/app/views/shared/_diff_gemfile.html

[2013-12-12 21:21] teamon commented on #64
Done in https://github.com/rails-assets/rails-assets/pull/65

[2013-12-13 00:20] sheerun commented on #57
I fixed it few days ago, forgot to close.

[2013-12-13 10:20] sheerun commented on #67
This is correct behavior. Dependencies with -- are forks. -- is replaced by /

For example github.com/desandro/eventie maps to rails-assets-desandro--eventie

We had to do this such way if you think about it long enough ;)

[2013-12-13 10:23] sheerun commented on #67
Hmm. @teamon what happens if one gem has dependency on normal component, but other on fork?

Does `= require metafizzy` for example require first or last component?

[2013-12-13 10:37] teamon commented on #67
I thinks we missed that case. TBH I don't know what will happen, we need to check that.

[2013-12-13 10:50] sheerun commented on #67
I think the core question is what bower does in such case.

[2013-12-13 16:01] aaronchi commented on #67
This doesn't explain why the dependencies are duplicated though:

for example:

[code]

There are two 'eventie' gems being loaded. If you install isotope from bower, it just loads the primary eventie library. I haven't looked at the internals, but it also seems like any dependency that was duplicated doesn't load when you include isotope.

[2013-12-13 16:25] sheerun commented on #67
@aaronchi

`isotope` depends on `metafizzy` which depends on:
1. `"eventie": "eventie#>=1.0.3 <2.0"`
2.  `"doc-ready": "desandro/doc-ready#>=1.0.1 <2.0",`

And now `doc-ready` depends on:

[code]

Check out `Gemfile.lock` for details.

So in dependency tree we have two versions of eventie:

[code]

It's not Rails Assets fault, but @desandro because he uses github version of eventie in one project,

[2013-12-13 16:31] sheerun commented on #67
Anyway, I and @teamon need to brainstorm what to do in such cases. Any suggestions?

[2013-12-13 16:34] aaronchi commented on #67
I guess you need to figure out how bower handles it. Only one library gets installed via bower

[2013-12-13 16:49] sheerun commented on #67
You're right. I'm marking this issue as bug. We should comply to bower way of managing dependencies.

[2013-12-13 16:53] sheerun commented on #67
I've checked it and it seems that bower treats Github versions like `desandro/eventie` as "any version of desandro/eventie" while we treat it as "latest version of desandro/eventie".

[2013-12-13 18:17] sheerun commented on #67
I tried to fix it, but now I'm having problems with circular dependencies that change causes.

I'll touch this problem again tomorrow.

[2013-12-14 03:56] desandro commented on #67
Sorry about the bug, but hey, at least you found it. :tulip:

[2013-12-14 17:18] sheerun commented on #49
@teamon It's worth noticing, that rubygems does not support "or" operator for versions, only "and"

[2013-12-14 18:58] sheerun commented on #67
@aaronchi Problem is fixed, but I need to rebuild all gems. I'll let you know.

[2013-12-15 17:32] porada commented on #73
1. Go to the [component list](https://rails-assets.org/components), find `angular-bootstrap-datetimepicker`, then click on the version number you’re interested in. You’ll see the paths to assets which you can `//= require` manually.
2. I’m afraid you can’t (at the moment). We’re still in beta, and fonts might need some more work. @teamon @sheerun

[2013-12-15 17:33] teamon commented on #73
I think we can handle fonts the same way we handle images. I'll take a look at that tomorrow. 

[2013-12-15 17:35] porada commented on #73
Closing this issue, as #74 is more specific.

[2013-12-15 23:02] sheerun commented on #74
I think the solution is pretty easy: detect file type in url() tag and convert it either to image-url for images (already done) or asset-url() in other cases.

It has to be implemented though.

[2013-12-15 23:03] sheerun commented on #73
@porada We need better interface for listing of files.

[2013-12-15 23:17] porada commented on #73
Yup, #75.

[2013-12-16 00:53] Jerska commented on #73
Amazing reactivity. Thanks.

And sorry I didn't see that list of requir-able files on the side.

[2013-12-16 14:36] teohm commented on #74
@sheerun +1

Do you mean rails-assets.org are now converting `url()` to `image-url()` in scss when generating asset gems?

[2013-12-16 14:46] sheerun commented on #74
yes, and relative paths are fixed

[2013-12-16 14:49] teohm commented on #74
@sheerun any plan to support font url() transformation? A common use case will be: sass-bootstrap-glyphicons

[2013-12-16 15:02] sheerun commented on #74
It's matter of chaning few lines somewhere here: https://github.com/rails-assets/rails-assets/blob/master/app/models/build/transformer.rb#L145

You can make PR if you want. For now I'm fixing more critical issues.

[2013-12-16 15:09] sheerun commented on #74
Also I think is goes beyond just changing url to asset-url for fonts because we don't want to duplicate fonts if few packages use the same font. We'd need to parse font files, extract font faces and concatenate them to some kind of font package.

[2013-12-16 15:15] sheerun commented on #72
@brennovich It's because jquery-ujs has no versions defined (tags on github). We don't compile components with no versions defined. Could you open an issue on jquery-ujs?

I guess message should be more explicit.

[2013-12-16 15:17] sheerun commented on #72
btw. from now on you get:

[code]

When running bundler with this dependency.

[2013-12-16 17:15] brennovich commented on #72
@sheerun gotcha! I'll open an issue on jquery-ujs, you can close this one.

Thanks ;)

[2013-12-17 16:49] sheerun commented on #79
Yup, that's probably bug. We must use @import. @teamon Any comments?

[2013-12-17 17:00] teamon commented on #79
This is not that straightforward, not everyone is using @import, many people just stick to sprockets `require`. And this will not work for .css files and I’m not sure about the other engines - @porada?

-- 
Tymon Tobolski
CTO Monterail.com
From: Adam Stankiewicz Adam Stankiewicz
Reply: rails-assets/rails-assets reply@reply.github.com
Date: 17 Dec 2013 at 17:49:39
To: rails-assets/rails-assets rail

[2013-12-17 17:02] aaronchi commented on #79
If you want to use require, I think you just need to use a .css extension for the top level stylesheet instead .scss

[2013-12-17 17:04] sheerun commented on #79
@aaronchi For now we use css file as default manifest file, not scss.

[2013-12-17 17:05] sheerun commented on #79
Oh, I see. We generate css manifest, but later it is converted to scss :(

Maybe the best solution is to create manifest file with the same format as main stylesheet, and use import for scss files while require for css.

[2013-12-17 17:06] sheerun commented on #79
On the other hand we convert all css files to scss file to be able to convert all url() to image-url()

@teamon I think the best solution is to use .scss manifest file and imports

[2013-12-17 17:11] porada commented on #79
`@import` is a must—otherwise mixin-only utilities won’t get exposed in any way and will simply be unusable.

[2013-12-17 17:28] aaronchi commented on #79
If you are already using scss, then scss is probably the way to go for all css files. If you don't want a dependency on sass, you would have to change the way the url interpolation works in the rest of the css files, using something like
.css.erb and image_path.

[2013-12-18 14:17] teohm commented on #74
@sheerun should we continue the discussion here? :)

I have a question, do you know how image-url(file), font-url(file), video-url(file) etc. are different from asset-url(file) ?

Starting from Rails 4, it seems like `asset-url(file)` is enough generate all types of asset url.

[1] https://github.com/rails/sass-rails/blob/v4.0.0/lib/sass/rails/helpers.rb
[2] http://edgeguides.rubyonrails.org/upgra

[2013-12-18 14:36] sheerun commented on #74
Generally Rails flattens first level of assets directory (each first level directory contains files of different extensions, so generally there are no name-clashes). After that you can reference them with asset-url. Rails 3.x probably required second argument to disambiguate those directories, but 4.0 relies on asset extension/filetype to preprocess it correct way. It's all guessing, I need to do

[2013-12-18 15:03] teohm commented on #74
I'm not sure either, I wonder if we can ask someone from Rails sprocket
community for advice.

Your concerns reminds me that Rails will introduce breaking changes in
future. Do you have a plan to support that?

I can imagine rails-assets will need to generate multiple gems to support
conflicting changes in different Rails versions e.g

rails-assets-bootstrap-3.0.4.gem
rails-assets-4.2-bootstrap-3.

[2013-12-18 15:18] sheerun commented on #74
I'm thinking about different source endpoints:

[code]

or introducing `rails_assets` gem as dependency that shims incompatibilities.

Generally it's pretty tough problem...

[2013-12-18 16:04] teamon commented on #81
@anero Does this `*.nuspec` file do any harm?

[2013-12-18 16:10] sheerun commented on #81
Sprockets tries to compile this file and it throws an exception afair.

After compilation we get following list of files:

[code]

And in manifest file we have:

[code]

Sprockets tries to compile handlebars.js.nuspec (the same way it tries to compile handlebars.js.coffee first), and we get an exception.

I'm not sure if there's a way to circumvent this except excluding nuspec from compiled compon

[2013-12-18 16:11] sheerun commented on #81
There wouldn't be a problem if handlebars excluded nuspec in `ignore` section of `bower.json`, but I'm not sure if nuspec is included on purpose (research needed)

[2013-12-18 22:02] sheerun commented on #82
I'm afraid it's not possible. Because this package selects `./build/angular-gravatar.js` as main file, we assume that all javascripts files are in `./build` and remove this prefix from `vendor/assets/javascripts` of compiled gem.

Don't you think that `md5.js` should be in build directory if it's part of package? If not, why isn't it available as dependency?

[2013-12-18 22:06] mrrooijen commented on #82
My thoughts exactly. I guess the author would have to restructure the repository in order to make this work.

Thanks for clarifying!

[2013-12-18 22:08] sheerun commented on #82
I encourage you to open issue on author's repository. This package clearly depends on md5 service, but doesn't state it in bower.json, nor include it in builded package.

[2013-12-18 22:12] mrrooijen commented on #82
I will. I actually see that the md5 service is available in Bower as a stand-alone package. I'm trying to install that to see if it works. Having some bundler issues, though. Perhaps this is literally the dependency that te author is using, in which case he/she should just define the dependency in the Bower file, no? (I'm not very familiar with Bower yet).

[2013-12-18 22:13] mrrooijen commented on #82
Nevermind, looks like it isn't the same thing.

[2013-12-18 22:13] sheerun commented on #82
Yes, he should put this component in dependencies section of bower.json

What bundler issues you experience? Could you paste your output?

[2013-12-18 22:14] mrrooijen commented on #82
Issue is resolved. It happened a few times to me the past hour. Most likely a networking issue. I'll paste it next time it occurs.

[2013-12-18 22:16] sheerun commented on #82
:( Soon we'll change the hosting, I hope it'll help.

[2013-12-18 22:18] mrrooijen commented on #82
Ha. No problem at all. Rails Assets is a golden project. My vendor directory was littered, and now I don't have a vendor directory at all! Much better for managing client-side dependencies, especially when upgrading whole frameworks such as Angular. :+1:

[2013-12-19 15:01] teohm commented on #74
Back to the font transformation a bit, I feel that removing duplicate font
definitions should be the responsibility of bower package author,
not rails-asset transformer.

On Wednesday, December 18, 2013, Adam Stankiewicz wrote:

##

Huiming

[2013-12-19 15:36] sheerun commented on #74
Hmm. I agree. There can be font duplicates when application is using incompatible bower components, but this is out of the scope of rails-assets.

[2013-12-20 12:36] sheerun commented on #84
Yes. It is handled by gem name. For example for `tildeio/rsvp.js` write `rails-assets-tildeio--rsvp.js`

[2013-12-20 12:36] sheerun commented on #84
I'll reopen it because we need to document this somehow probably. @teamon @porada  ?

[2013-12-20 13:09] alex88 commented on #84
And that uses the master of a library?

[2013-12-20 13:16] teamon commented on #84
I'm not sure if we want to support this feature. It is sometimes useful but may lead to a lot of issues. —
Sent from iPhone

On Fri, Dec 20, 2013 at 2:09 PM, Alessandro Tagliapietra
notifications@github.com wrote:

[2013-12-20 13:19] sheerun commented on #84
It uses last version (tag) on fork, just like any other package. We can't use master, because it's constantly changing, and gem assets need recompilation. I also think it's poor development practice. When using master instead of tag, at some point your code stops working.

[2013-12-20 13:21] alex88 commented on #84
Oh so without master, I think you can close this issue, I needed to use master or at least a specific commit for a fix I needed inside a library, if that can't be done then I'll copy it in my vendors folder and use the gem as soon the new library gets updated

[2013-12-20 13:26] sheerun commented on #84
You'll be able to do that, when we extract gem converting bower components to ruby gems. For now online service doesn't support such feature :(

[2013-12-20 13:28] alex88 commented on #84
Thanks for explaining! ;)

[2013-12-23 05:59] teohm commented on #74
@sheerun Do you prefer to include font-url() support first, or wait and work out a more general solution for all assets and multiple Rails versions.

[2013-12-25 02:11] porada commented on #88
It’s a repercussion of Rails Assets importing main assets using Sprockets’ `require` directive, even in the case of stylesheets. We’re going to change this behavior so it takes advantage of `@import` instead (where possible), but there’s nothing you can do about it right now (apart from making a pull request).

Closing this issue for now as it’s already been reported.

[2013-12-25 15:59] sheerun commented on #87
This is the same issue as #81

I think we need to create either whitelist or blacklist of allowed extensions. Stay tuned.

[2013-12-25 16:03] sheerun commented on #88
To be clear it concerns #79 We're going to use import by default soon. I'll post here updates as well.

[2013-12-26 01:26] mdesantis commented on #88
Thank you, I will wait for progresses

[2013-12-30 11:00] masterkain commented on #74
is there a followup somewhere of this ticket? thanks.

[2013-12-30 14:26] sheerun commented on #74
@masterkain This issue closed, but old gems need to be recompiled. It'll happen very soon.

[2013-12-30 22:04] porada commented on #91
Where is the line that we shouldn’t cross with this project? I’m asking, because from time to time I feel like we’re overthinking stuff—and this is the exemplary issue.

Well-defined packages work just fine with both Bower and Rails Assets. Yet we even fix the fixable (no `main` scripts, Sass files, etc.) that Bower doesn’t enforce nor validate.

When do we just say “no” and leave the responsibili

[2013-12-30 22:11] sheerun commented on #91
This is not about broken bower packages, but broken sprockets integration. For now our packages won't work if you don't define `sass-rails` in `Gemfile`. The same goes for any other precompiled filetype.

[2013-12-30 22:54] sheerun commented on #91
Nice list of extension-gem pairs: https://github.com/rtomayko/tilt

[2013-12-30 23:38] porada commented on #91
People who use certain packages should learn about their depenedencies. This shouldn’t be done automatically to prevent the usage of multiple precompilers.

[2013-12-30 23:44] sheerun commented on #87
@onordgren Could you post your Gemfile.lock ? I'm not sure why sprockets wants to compile .gzip file.

[2013-12-31 01:16] sheerun commented on #53
I included them along javascripts 1270e754

[2013-12-31 01:20] sheerun commented on #58
We could create general index available components and store output of `git ls-remote --tags --heads` there. Upgrade if it changes.

[2013-12-31 01:22] sheerun commented on #60
From now you can set `Version.rebuild` flag to true and run `UpdateScheduler.perform_async` to re-build all needed components.

[2013-12-31 01:33] sheerun commented on #81
@anero Could you post your `Gemfile.lock` or tell when the issue occurred? I'm unable to recreate it.

[2013-12-31 02:17] teamon commented on #92
IMHO this is reasonable approach, there are no +'s in "normal" versions. —
Sent from iPhone

On Mon, Dec 30, 2013 at 11:20 PM, Adam Stankiewicz
notifications@github.com wrote:

[2013-12-31 02:24] sheerun commented on #92
What do you mean?

[2013-12-31 05:15] sheerun commented on #92
Precompiled versions are now excluded from auto update. One can add them manually from www though.

[2013-12-31 05:23] sheerun commented on #87
I opened an issue on sprockets: sstephenson/sprockets#519

[2014-01-02 12:29] sheerun commented on #94
Yes:

[code]

[2014-01-02 12:32] sheerun commented on #94
It needs to be tagged though.. We don't compile `master` version for now.

[2014-01-02 12:35] sheerun commented on #94
@teamon As I think about it now, it's huge issue. I think we should compile master version of forks, if version is not specified, and mark it as `v1.0.1.someone.abcd12` (fork name + sha). What do you think?

[2014-01-02 22:54] panych commented on #94
Thanks, it helps. This feature probably should be mentioned somewhere in the docs.

[2014-01-03 14:42] Tuckie commented on #95
You're not including the correct files.  Take a look at the files being included by clicking on a specific version in the Component list, e.g.

[code]

I haven't tested this, but what you're probably looking for is source/jquery.fancybox

[2014-01-03 15:09] sheerun commented on #95
Both `fancybox` and `underscore.string` don't have `main` entry defined in `bower.json` (you get this notification during installation.), so you can't use shorter forms of includes.

You need to do `//= require fancybox/source/jquery.fancybox.js`.

Please open pull requests on those repositories to update `bower.json` to include `main` entry.

[2014-01-05 18:11] teamon commented on #94
This is rather an unofficial feature. We would like people to fix existing bower packages more than rely on some custom forks when the original package is somehow broken and does not play well with rails assets. —
Sent from Mailbox for iPad

On Thu, Jan 2, 2014 at 11:54 PM, Alexandr Panchenko
notifications@github.com wrote:

[2014-01-05 23:43] sheerun commented on #94
@porada I'm re-opening this. @teamon Didn't answer my question and we need to discuss this feature once.

[2014-01-06 13:56] teamon commented on #94
TBH I think we shouldn't put too much work into supporting building fork with some weird logic. There are other issues that are much more important than this one

[2014-01-06 18:48] porada commented on #94
[Agreed](https://github.com/rails-assets/rails-assets/issues/91#issuecomment-31371767).

[2014-01-10 21:10] sheerun commented on #99
Hey. Isn't it font-awesome issue? This is invalid scss file. They don't have bower.json, so we take un-compiled scss file from `src` directory by some simple heuristic. Could you open an issue on their repository?

[2014-01-11 10:12] seantanly commented on #87
:+1:

This is a major blocker. Hopefully this gets resolved fast.

[2014-01-13 05:23] chrisnicola commented on #99
Strangely, this text doesn't show up in the font-awesome repository anywhere, only the one I end up getting from rails-assets when I install via bundler.

[2014-01-13 05:26] chrisnicola commented on #99
Hmm searching a bit further I think I've found it. Appears to be a generated file somewhere else in the repo:
https://github.com/FortAwesome/Font-Awesome/blob/master/src/assets/font-awesome/scss/font-awesome.scss

Anyways the "components" version of font-awesome is working for me now, I just had to deal with the issue of loading the font through the asset pipeline first. It would probably make sen

[2014-01-13 10:52] seantanly commented on #87
@sheerun I did some investigation on my own. This issue seems more than just reading in of binary data.

Sprockets is reading in files that are not meant to be precompiled. Even if we make Sprockets::Utils handle binary data, it will still choke on .map files because there isn't a preprocessor for it.

The solution could be making sure only files that are to be processed by sprockets are passed al

[2014-01-13 11:15] onordgren commented on #87
@sheerun sorry about the late reply.

Here is a gist of my Gemfile.lock https://gist.github.com/onordgren/8335446

@seantan Where should I put the monkey patch?
I tried putting it in config/initializers but I got an error when trying to precompile. There error was
- undefined method `prepend' for Sprockets::Context:Class

[2014-01-13 11:24] seantanly commented on #87
Prepend is a method only available from ruby 2.0+. I used it to illustrate
the point. If you need it urgently for earlier version of ruby, I'll whip
up a quick hack for you

[2014-01-13 11:27] sheerun commented on #87
I'm removing all .gzip, .map and .nuspec files from compiled components. This should be temporary fix. I'm performing full rebuild, it should take about 1h.

[2014-01-13 11:30] onordgren commented on #87
I see. Not that urgent so I can wait for sprockets to fix it. Thanks anyway :)

##

Otto Nordgren
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Monday 13 January 2014 at 12:24, Sean Tan wrote:

[2014-01-13 12:13] sheerun commented on #87
@onordgren @seantan All gems has been rebuilt. Could you confirm if it's working for you?

You may need to remove local gems: `gem list | grep rails-assets | cut -d ' ' -f 1 | xargs gem uninstall`

[2014-01-13 12:18] sheerun commented on #81
I'm excluding .nuspec files as temporary fix. Generally either packages need to add such files to bower.json ignore section or https://github.com/sstephenson/sprockets/issues/519  needs to be fixed.

[2014-01-13 12:19] sheerun commented on #62
Message now says: "Package html5-shiv not found"

[2014-01-13 12:25] onordgren commented on #87
@sheerun Seems to be working locally for me. But when i try to bundle on my production server i get the following error

 *\* [out :: 109.74.9.50] Net::HTTPNotFound: File not found:
 *\* [out :: 109.74.9.50] /quick/Marshal.4.8/rails-assets-Backbone.ModelBinder-0.1.2.gemspec.rz

Not sure if the error is on my end or yours though.

[2014-01-13 12:44] sheerun commented on #87
Ouch. This is first entry from specs.4.8 file on Rails Assets. It's strange because http://rails-assets.org/quick/Marshal.4.8/rails-assets-Backbone.ModelBinder-0.1.2.gemspec.rz exists. Maybe it was temporary issue due to reindex? Does it happen again? What happend if you `gem list | grep rails-assets | cut -d ' ' -f 1 | xargs gem uninstall` on production?

[2014-01-13 13:18] onordgren commented on #87
Tried again and now it seems to work on production as well. Couldn't remove the gems manually but i deleted the shared/bundle folder and re-installed all the gems.

Thanks for the fix and the quick replies!

[2014-01-13 15:16] seantanly commented on #87
@sheerun Thanks for the quick fix, it's working for me.

[2014-01-21 21:38] ivanyv commented on #99
Hi Chris, I'm having the same issue, I'm close to just switching to plain bower. What do you mean by "components" version? Thanks!

[2014-01-21 21:40] sheerun commented on #99
https://github.com/components/font-awesome

[2014-01-21 21:40] sheerun commented on #99
Also remember to add fonts directory to your asset paths

[2014-01-21 21:56] ivanyv commented on #99
Cool, thanks!

[2014-01-21 22:30] ivanyv commented on #99
I have to say I find this odd. Reviewing Font-Awesome's history, it seems those lines were added 7 months ago, and this project I've been working with for the past couple weeks just suddenly has this issue.

If I compare the gem I had in Ruby 2.0.0 with 2.1.0, the old installation doesn't have those 2 `---` lines, so I tried to see what had changed in `rails-assets` that could cause this. Alas, I'

[2014-01-21 22:33] sheerun commented on #99
https://github.com/components/font-awesome doesn't work for you? Could you post your Gemfile?

[2014-01-21 22:55] ivanyv commented on #99
Haven't tried yet, but I gotta say I have no idea how to use that in a Rails way. Would I just pull it down with `component` and put in in `vendor/assets`? Because that would not really work as I'm customizing the `$fa-font-path` so I need the source.

Here's my `Gemfile`: http://pastie.org/8655334

Thanks!

[2014-01-21 23:00] sheerun commented on #99
Components version of font-awesome has source .scss files:
https://github.com/components/font-awesome/tree/master/scss

If you look at `bower.json` of this repository, the bower name is `components-font-awesome`:
https://github.com/components/font-awesome/blob/master/bower.json

In your gemfile you still use official version.

After changing gem to `rails-assets-components-font-awesome` you need t

[2014-01-21 23:03] sheerun commented on #99
Actually if you click version number on https://rails-assets.org/components you can see that .scss is chosen by rails-assets as default stylesheet file, so following is enough:

[code]

[2014-01-21 23:09] ivanyv commented on #99
Sweet, thanks! Just learned about `component` and `components` today so I was confused and unsure about what I was doing at first :D

[2014-01-21 23:11] sheerun commented on #99
Cool. If anything goes wrong you can always use "officially packed" version of gems. For font-awesome it is:

https://github.com/bokmann/font-awesome-rails

[2014-01-24 15:17] sheerun commented on #105
Bower reads versions from tags on GitHub. Version in bower.json actually doesn't much matter.

https://github.com/jlbfalcao/jquery.layout/releases

The only release in jquery.layout is non-semver one, and bower doesn't accept such versions.

Is it clear now?

[2014-01-24 15:18] rosenfeld commented on #105
Sure, thank you!

[2014-01-24 15:24] rosenfeld commented on #105
Just to be sure: http://semver.org/spec/v2.0.0.html
Is the problem the fact that it's not a proper hyphen in the version? I mean, would the version below be valid?

"1.3.0-rc30.79"

I'd like to know what exactly to ask to the repo maintainer...

[2014-01-24 15:28] sheerun commented on #105
Hmm. Actually this is correct semver, but prerelease one. Rails Assets doesn't accept prerelease versions. The issue with jquery.layout is each version should have corresponding semver tag on GitHub (x.y.z)

[2014-01-24 15:30] rosenfeld commented on #105
But this is a problem in the case of jQuery layout as it seems it won't release any non-pre release for a long time and the last stable release is not compatible with newer jQuery... Could this requirement be changed on the rails-assets side?

[2014-01-24 15:31] rosenfeld commented on #105
http://layout.jquery-dev.net/downloads.cfm

"Despite being a 'release candidate', the 1.3.0 RC version is more bug-free and robust than 1.2.0. Plus it has many new options and features."

This message has been there forever... Unfortunately there's no official repository for this useful plugin and the repo above is just an attempt to integrate it to bower. It would be very helpful for us to be abl

[2014-01-24 15:45] sheerun commented on #105
@rosenfeld From www we allow for compiling even prerelease versions: https://rails-assets.org/components/new You just need to specify component name and existing bower version.

Observe that bower returns no versions for this component:

[code]

It's probably bower issue it doesn't accept this git tag.

In general we allow for compilation of any version returned from `bower info <component>`, so i

[2014-01-24 15:47] rosenfeld commented on #105
Thank you. I'll investigate if this is just a character issue with the hyphen and see what we can do.

[2014-01-28 08:26] seantanly commented on #106
Seems like rails-assets-jquery 1.11.0 is not the only gem affected.

I'm having similar issues on rails-assets not picking up the latest version of angular, version 1.2.10.

[2014-01-28 09:45] sheerun commented on #106
Hi guys,

I scheduled rebuild of all failed builds and those components + around 50 other versions are now available.

I'm hoping this issue to be solved by #108 and better policy about re-builds.

[2014-01-29 11:45] sheerun commented on #108
https://rails-assets.org/status ping @rosenfeld @seantan

[2014-01-29 12:50] rosenfeld commented on #108
Great! Thank you, Adam! Good job! :+1:

[2014-01-29 16:29] seantanly commented on #108
@sheerun Thanks, I'm picking up the latest versions for jquery and angular now. :)

[2014-01-31 15:12] Peeja commented on #91
What does the failure look like right now if you don't explicitly include a precompiler in your Gemfile? Should rails-assets provide a fallback which fails with a more informative and actionable error message?

[2014-02-05 16:33] Peeja commented on #110
Looks like using `v1.2.5.2` has the same issues.

[2014-02-28 15:06] sheerun commented on #55
I don't think the .gem files should be generated, but rather directories in `tmp` and proper paths should be added to `config.assets.paths`.

[2014-03-06 03:21] sheerun commented on #103
I removed non-deteministic test.

[2014-03-06 03:26] sheerun commented on #110
`v1.2.5.hotfix` is not a semver. `v1.2.5-hotfix` would be probably ok.

[2014-03-06 03:27] sheerun commented on #110
`1.2.5.2` is not a semver too. Please always check if your version is accounted in `bower info`

[2014-03-06 03:33] Peeja commented on #110
That's news to me. [Rubygems' documentation describes prerelease versions as being in the form `1.2.5.hotfix`](http://guides.rubygems.org/patterns/#prerelease_gems).

But you're right, [according to semver.org](http://semver.org/):

All that said, we had the same trouble getting `v1.2.5-hotfix` to work as well. I'll see if I can reproduce it.

[2014-03-06 03:49] sheerun commented on #113
This is either sprockets or angular-strap issue.

In sprockets if file is names `foo.js.coffee` it means it's `js` type.

The same way for sprockets `angular-strap.tpl.min.js` is of `tpl` type, not `js`.

Have you resolved it in some way?

[2014-03-06 03:55] sheerun commented on #55
It's now duplicate of #121

[2014-03-06 06:57] chaizhenhua commented on #113
No. I havent solve it. I just split angular js part to another project use yeoman and bower.

[2014-03-09 02:25] asgeo1 commented on #113
Having same issue. Although I'm loading the `angular-strap` repo via `bower-rails` gem.

Is there a way to tell sprockets no to process the `.tpl` part?  I.e. in the same way it knows not to process the ".min" part of a filename.

As a workaround for now, I just copied the `angular-strap.tpl.js` file into my assets directory and renamed it to `angular-strap-tpl.js`

[2014-04-12 13:54] mike-park commented on #113
You could create an initializer to override the default mime type for .tpl. This fixes the problem.

config/initializers/angular_strap.rb

[code]

[2014-04-12 21:19] sheerun commented on #58
Authors should not change contents of tags. This can be source tampering.

Anyway from time to time we do full rebuild.

[2014-05-19 00:12] sheerun commented on #113
Temporary solution:

[code]

[2014-06-03 13:07] sheerun commented on #49
I don't think I'll be ever implemented. PR is welcome.

[2014-06-03 13:11] sheerun commented on #91
I think it won't be implemented because some packages can contain both .less, .scss, .css etc. files and we don't want to force things like therubyracer or stylus to be a depdendency if you don't use them.

[2014-06-03 13:56] sheerun commented on #113
I think we can use full paths in manifest to prevent such issues.

[2014-08-13 19:09] aj0strow commented on #113
@mike-park thank you

[2014-09-28 21:49] sheerun commented on #113
It should be fixed. You need to wait for deploy and rebuild. I'll notify about that on our twitter account.

[2016-01-20 22:37] hut8 opened #3 "Import tool"
When first setting up a mirror, that mirror is empty. There should be a tool, possibly a Rake task, which will take https://rails-assets.org/components.json and build everything on it, so the end result yields the same components.json on the local machine.

[2016-01-20 22:38] hut8 opened #4 "External fonts"
Right now fonts are being loaded from here:

//cloud.typography.com/6743452/745062/css/fonts.css
//use.typekit.net/jvv3pir.js

These places authenticate the referrer header, so I'm getting 403s on the new mirror.

[2016-01-20 22:58] hut8 commented on #4
Asked about in rails-assets/rails-assets#309

[2016-01-20 23:25] hut8 commented on #4
I'm pretty happy with my temporary Open Sans replacement, and I prefer it to the real rails-assets.org font collection, so closing for now via 8d0482eaa7f796729231d37e6266330cd75b3c29

[2016-01-20 23:25] #4 closed

[2016-01-21 18:58] hut8 opened #5 "Update import paths in screenshot"
![pasted image at 2016_01_21 01_55 pm](https://cloud.githubusercontent.com/assets/363720/12491082/054b6696-c047-11e5-81c5-b2491492dd42.png)

[2016-01-21 18:59] hut8 opened #6 "Update hosting credits"
![pasted image at 2016_01_21 01_56 pm](https://cloud.githubusercontent.com/assets/363720/12491109/27f156ec-c047-11e5-950a-6d553487226c.png)

[2016-01-21 19:00] hut8 opened #7 "Upstart scripts for sidekiq"
Right now sidekiq is running in a detached `tmux` session on production :fearful:

Upstart would be good for this.

[2016-01-21 21:43] hut8 opened #8 "Symlink gems directory correctly"
In Capistrano, one of the linked directories should be where the gems are stored so they wind up in `public`.

[2016-01-21 22:52] joshjordan commented on #8
This is done. Can't close from my phone.

On Thu, Jan 21, 2016, 4:43 PM Liam <notifications@github.com> wrote:

[2016-01-21 23:05] #8 closed

[2016-01-22 04:38] joshjordan opened #9 "Remove announcement banner"

[2016-01-22 04:52] #3 closed

[2016-01-22 04:55] hut8 commented on #6
Resolved via #10

[2016-01-22 04:55] #6 closed

[2016-01-22 05:38] joshjordan opened #11 "Github, twitter icons"
Remove "Rails Assets on". Update twitter link.

[2016-01-22 05:38] joshjordan opened #12 "Restore travis build"
Add back build status in readme.

[2016-01-22 05:41] joshjordan opened #13 "Fork rails-assets-sinatra"
...and update link

[2016-01-22 05:43] joshjordan opened #14 "Update github repo tagline"

[2016-01-22 08:48] hut8 opened #17 "Remove Shelly Cloud specific files"
Several exist, e.g., `/config/deploy/shelly/` and `Cloudfile`

[2016-01-22 15:21] #5 closed

[2016-01-22 15:21] joshjordan opened #18 "Don't rebuild components when components#create is hit"

[2016-01-22 18:51] #12 closed

[2016-01-22 18:52] joshjordan opened #19 "Cannot add component that is made up of only depnedancies"
Cloning issue:

https://github.com/rails-assets/rails-assets/issues/264#issuecomment-174006868

[2016-01-22 23:28] jnylen opened #20 "Slow"
Hi,
I'm not sure if I should move over or not.
Currently this fork is slow towards European servers.

[2016-01-22 23:44] joshjordan commented on #20
@jnylen thanks for opening. We're experiencing slowness in all regions right now while we reindex the bower repository. Is it alright if I keep this issue open, and ping you again to test when the process is complete?

[2016-01-23 00:16] #14 closed

[2016-01-23 01:19] jnylen commented on #20
Sure!

[2016-01-23 20:27] hut8 commented on #20
Update: Digital Ocean was generous enough to give us $50, so I'm trying to see the best way to use that. I think it might be best to have two workers, but right now it's the web server process that's building the gems (which is a CPU-bound task).

In any case, we're working on the problem and will have a solution ASAP. Here's a CPU graph:

![pegged-cpu](https://cloud.githubusercontent.com/assets/3

[2016-01-23 21:21] hut8 commented on #7
Resolved via #21

[2016-01-23 21:21] #7 closed

[2016-01-23 22:25] jnylen commented on #20
Are these hosted in USA?

[2016-01-23 22:56] hut8 opened #23 "Analytics"
We have a Mixpanel account, and they have an official gem, which is great. Our most important metric is probably measuring downloads of gems. So we need to hook up the Mixpanel gem to `config.ru` (or do something comparable)

[2016-01-23 22:56] hut8 commented on #20
Currently they are in NYC. What sort of latency and bandwidth are you seeing? Is this just with the site in general, or when serving gems? We're looking at options for CDNs as well for static assets.

[2016-01-23 23:27] jnylen commented on #20
Could you put up a 100mb file? and i'll wget it.

[2016-01-23 23:34] hut8 commented on #20
Sure. https://rails-assets.tenex.tech/assets/100mb

From a different computer, this one being in New Jersey rather than NYC I got:

[code]

[2016-01-23 23:36] jnylen commented on #20
% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  100M  100  100M    0     0  14.6M      0  0:00:06  0:00:06 --:--:-- 14.7M

From france so it should be ok. Guess it is the time that it takes to start a transfer that is long.

[2016-01-23 23:41] hut8 commented on #20
Yeah, a CDN would help with that. We'll explore all options. I'll leave this open until the importing of packages is done.

[2016-01-26 15:41] hut8 opened #24 "TLS configuration gets "B" grade"
See: https://github.com/rails-assets/rails-assets/issues/291#issuecomment-174917851

[2016-01-26 17:34] hut8 commented on #20
Hey @jnylen I've suspended processing. Can you check it out now? Looks instant to me.

[2016-01-26 17:35] hut8 opened #25 "CDN"
We need a CDN for this thing.

[2016-01-26 21:59] hut8 commented on #17
Resolved via #22

[2016-01-26 21:59] #17 closed

[2016-01-28 17:46] hut8 opened #26 "Component#destroy causes stack overflow"
[code]

[2016-01-28 18:51] hut8 opened #27 "Version#destroy does not trigger reindex"
When a component's version is built, the index is updated. But when it is destroyed, it is not.

[2016-02-04 17:26] hut8 opened #28 "More files should be linked between releases"
Pretty sure most things in `public` should be linked between releases. Currently I'm worried about `quick` and gemspec related things.

[2016-02-04 17:32] #20 closed

[2016-02-05 07:38] jnylen commented on #20
Yeah, seems fairly faster.
https://rails-assets.tenex.tech/components.json is quite slow though. 3-4s to load. Cloudflare should be able to make it faster.

[2016-02-05 16:11] hut8 opened #29 "components#index too slow"
Components.json has a huge impact on the frontend of the site and it's just too slow. Because that's based on data that's indexed via the asynchronous Sidekiq job, it should just generate the entire components.json file and throw it in /public.

[2016-02-05 16:12] hut8 commented on #20
Thanks @jnylen ! Noted. I filed #29 for that, but it's not specific to our mirror.

[2016-02-05 16:16] joshjordan commented on #20
I'll take a stab at speeding this way up tonight.

On Fri, Feb 5, 2016, 11:12 AM Liam <notifications@github.com> wrote:

[2016-02-07 02:34] hut8 commented on #28
Possibly fixed in 2677691b77379ca8e9377d25beca110d23d06df0

[2016-02-07 02:34] #28 closed

[2016-02-07 02:58] hut8 commented on #29
Resolved by #30

[2016-02-07 02:58] #29 closed

[2016-02-07 02:58] hut8 commented on #20
@jnylen it should be under 1 second now.

[2016-02-12 14:45] joshjordan opened #31 "Add Donation button"
Two requests for this: https://github.com/rails-assets/rails-assets/issues/291#issuecomment-183279078

[2016-02-12 21:44] #9 closed

[2016-02-16 17:28] joshjordan opened #33 "Search should also search bower and convert components"
Include some loading indicator that shows "Searching bower for more..."

[2016-02-16 17:29] joshjordan opened #34 "Copy/paste buttons"
"Copy Gemfile line" "Copy entire Gemfile block"

[2016-02-16 17:30] joshjordan commented on #34
"Copy require lines"

[2016-02-16 22:35] hut8 opened #35 "Badge for bower packages"
Maybe also make PRs for repos adding these or make the maintainers aware of its existence.

[2016-02-16 22:37] hut8 opened #36 "rails-assets CLI gem"
a ruby gem that allows you to type `rails-assets install <componentname>` and it automatically inserts the Gemfile, application.js, and application.css stuff

[2016-02-17 03:23] hut8 opened #38 "Remove new relic stuff"
New relic is still in the app; remove it

[2016-02-17 04:15] #31 closed

[2016-02-18 13:17] jrasanen opened #42 "NPM Support?"
Hi!

Any plans adding NPM support for proxying packages?

And thanks for continuing maintaining rails-assets.

[2016-02-18 13:59] joshjordan commented on #42
Yes, we are very interested in supporting NPM. There are a number of challenges to solve there and we're not quite ready to begin development on NPM support yet, but yes, this is absolutely on our roadmap. Let's keep this issue open for tracking and +1's.

[2016-02-20 02:36] jnylen commented on #36
Just a pointer,
It should do a "Confirm the addition of //= require mehmeh.js to application.js"
And if possible a way to change application.js to a file the user has customized.

[2016-02-20 02:44] jnylen opened #43 "If a version is clicked then change gem tag"
Hi,

It would be wonderful that if you click a version like 1.4.8 of Angular then the standard:

turns into

[2016-02-20 02:56] jnylen opened #44 "Better forks system"
Hi,
It would be better if there was some kind of way to match forks to the main repo.
And a way to see a list of them on the main one. For example when the old version stops being maintained and taken over by another user it should be possible to find this gem easily in the same list.

[2016-02-20 03:04] jnylen opened #45 "Can't add a gem"
Hi,
I can't add the gem "angular-h-sweetalert".

The http code returned is 405 Not Allowed

[2016-02-20 03:05] hut8 commented on #45
Looking now!

[2016-02-20 03:07] hut8 commented on #45
This has to do with the caching we did with components.json. Fixing now.

[2016-02-20 03:29] hut8 commented on #45
Fixed and gem built. Sorry for the 22 minute wait!

[2016-02-20 03:31] hut8 commented on #45
Resolved via 02adb66e88cf40ff3e42993a38a6e3a2517a6504

[2016-02-20 03:31] #45 closed

[2016-02-20 04:26] joshjordan commented on #43
I love that idea. I'm thinking about an overhaul to the gem selection interface. Once I sketch something up, would you mind giving me some feedback on it?

[2016-02-20 04:27] joshjordan commented on #44
Interesting. Can you give me some examples of forked components, and what you'd like to see for them? Thanks for taking the time, @jnylen

[2016-02-20 04:49] jnylen commented on #43
Sure!

[2016-02-20 04:56] jnylen commented on #44
Here are some:
- Angular2 is just Angular if possible it should just point to one name (maybe aliases kinda? for legacy rails-assets)
- [sweetalert](https://github.com/t4t5/sweetalert) and [sweetalert2](https://github.com/limonte/sweetalert2) are forks

I think it should be possible to grab "fork of" via github's API on creation and just mark it as a fork.
Think alternativeto.

And if possible it

[2016-02-28 00:52] hut8 opened #49 ""All scripts" and "All stylesheets" shouldn't always be present"
what we have now:
![ours](https://cloud.githubusercontent.com/assets/363720/13376477/895859c4-dd8b-11e5-867f-87d73de0ea9f.PNG)

what it should be:
![theirs](https://cloud.githubusercontent.com/assets/363720/13376479/8f47e82c-dd8b-11e5-8b7c-70cd5c8cc640.PNG)

[2016-02-29 21:46] joshjordan commented on #44
That's wonderful. Do you know of any structured data that tells us which
things are forks of others? Obviously github is one source of information
on this, but it would be ideal if bower or npm published this as "official
forks" or such. Any insights?

On Fri, Feb 19, 2016 at 11:56 PM Joakim Nylén <notifications@github.com>
wrote:

[2016-02-29 21:46] joshjordan commented on #36
:+1: Agreed.

On Fri, Feb 19, 2016 at 9:36 PM Joakim Nylén <notifications@github.com>
wrote:

[2016-02-29 22:54] jnylen commented on #44
Hi Josh,
https://developer.github.com/v3/repos/forks/ to get forks from each repo
and use https://api.github.com/repos/username/reponame

To get "Primary repo" which is the one it's forked from.

[2016-03-05 19:46] joshjordan opened #50 "Search and component page separation"
Have a better, separate page for each component. Use search results just to decide which one you want.

[2016-03-05 19:47] joshjordan commented on #50
Probably addresses #49

[2016-03-06 22:05] joshjordan commented on #50
## Changes to search / home page

![image](https://cloud.githubusercontent.com/assets/521674/13557403/9a9ceb04-e3bd-11e5-87bf-ea6ee3910080.png)

## Which links to this component / install page

![image](https://cloud.githubusercontent.com/assets/521674/13557406/a334eb9a-e3bd-11e5-8965-c49521a0cace.png)
![image](https://cloud.githubusercontent.com/assets/521674/13557407/a9ad714a-e3bd-11e5-9603-e305

[2016-03-06 22:06] joshjordan commented on #50
@hut8 looking for feedback. My goal is to declutter the UI and make it less confusing for first time users.

[2016-03-06 22:07] joshjordan commented on #50
@jnylen your suggestion in #43 fits right in here, I think. In step #2, the version would be listed when a non-latest version is chosen. I'd love to get your feedback on that and on the rest of the UI I've posted here.

[2016-03-06 22:09] joshjordan commented on #36
Related: #50

[2016-03-08 20:02] hut8 commented on #50
@joshjordan feedback:
Have you used https://invisionapp.com/ ? If not, it's cool and is more interactive than PNGs :smile:

In general, I think these are all great ideas and shouldn't be too hard to implement. The only concern I have is the "add scripts and stylesheets" section. How do we know what things needed to be added? "Adding all of them" could be an answer, but of course order matters, and

[2016-03-08 20:07] joshjordan commented on #50
@hut8 nice! I tried to take on only things that would be easy to add here, and not any new functionality (hence no CLI or `patch` in this mockup).

Rails assets already does this, but its so convoluted between how to setup for rails-assets, how to add the gem, and how to reference the assets. That's a big part of the motivation for this PR - you didn't even know it did this!

![image](https://clou

[2016-03-08 20:09] joshjordan commented on #50
Another screenshot to show that there is more intelligence here than "require every JS and CSS file":

![image](https://cloud.githubusercontent.com/assets/521674/13614706/cff9c7da-e53f-11e5-9d72-eede9a25dabe.png)

[2016-03-08 20:17] hut8 commented on #50
OK Cool, so this is perfect then.

[2016-03-08 20:19] joshjordan commented on #50
Discussed offline. Add a  “Need help? <a>Visit the project homepage</a>” link at the end of the instructions.

[2016-03-10 11:29] jnylen commented on #50
Looks nice. Maybe offtopic but, is there going to be a "Follow" function to get notification when an version is out etc?

Also if it's possible to fix the "honey.js.js" thing when the name itself have a ".js" in the name.

[2016-03-10 14:50] joshjordan commented on #43
Thanks @jnylen! I'm actually going to keep this open just as a double-check that we get it done in #50.

[2016-03-10 14:58] joshjordan commented on #50
Hadn't considered either of those, but they are great ideas. I'm going to spin them off into separate issues.

[2016-03-10 14:59] joshjordan opened #51 "Allow users to "follow" gems for notifications of new versions"

[2016-03-10 14:59] joshjordan commented on #51
@hut8 this may be a separate tool entirely!

[2016-03-10 15:00] joshjordan opened #52 "Exploratory: redundant ".js" in names."
From @jynlen: fix the "honey.js.js" thing when the name itself have a ".js"

[2016-03-10 16:44] jnylen opened #53 "Tags"
Able to tag gems, and give them alternative names.
Such as ngInfintieScroll, tag it as "angular, infinite scroll" (splitted by comma) to be able to see it better.

Or some kind of that, then search will be better based. This would require some user generate data though. But it would make it easier to find similar gems.

Looks at gutentag to see what i'm going with this.

Think Movie Genres.

[2016-03-11 17:06] joshjordan commented on #23
Related to #54 but not completely solved by it (no server side)

[2016-03-15 22:27] joshjordan commented on #53
I like this idea a lot, but I'm not sure the user base for this tool would
engage with it. I'd like to keep this open for some time and get feedback
from others.

On Thu, Mar 10, 2016, 11:45 AM Joakim Nylén <notifications@github.com>
wrote:

[2016-03-16 07:14] jnylen opened #55 "hostname "rails-assets.tenex.tech" does not match the server certificate"
`Gem::RemoteFetcher::FetchError: hostname "rails-assets.tenex.tech" does not match the server certificate (https://rails-assets.tenex.tech/gems/rails-assets-tether-1.1.1.gem)`

[2016-03-16 15:26] hut8 commented on #55
Yikes, that's a big deal. https://www.ssllabs.com/ssltest/analyze.html?d=rails-assets.tenex.tech says it's fine though. Can you try in a browser? Or tell us at least what hostname the server certificate says it has?

[2016-03-16 15:27] jnylen commented on #55
Might have been a hiccup when I did bundle install.
I ran it again afterwards and it went through.

[2016-03-16 15:27] #55 closed

[2016-03-16 16:28] hut8 opened #56 "Move gems to S3"
We've had the sidekiq build process now killed twice because of running out of memory. This morning, I increased our swap file to 4 GB as a stop gap, but then ran out of disk space.  Digital Ocean is generous enough to sponsor us, but we still need to be responsible with usage.

The `/gems` subdirectory of public has 30GB of stuff in it (there are no subdirectories). This is sort of a headache. Vu

[2016-03-16 18:28] hut8 opened #57 "Upstart script broken"
`Foreman`'s writing of upstart script doesn't seem to really make sense as we have it configured now. Should definitely look into that.

[2016-03-16 18:38] hut8 opened #58 "Memory issues with passenger"
Passenger is using way too much memory; there is definitely a leak or something here:

[code]

[2016-03-17 19:29] joshjordan commented on #56
Still thinking about pushing the gems out to S3.

On Wed, Mar 16, 2016 at 12:28 PM Liam <notifications@github.com> wrote:

[2016-03-18 15:11] hut8 opened #60 "Set up staging environment"

[2016-03-18 21:25] hut8 commented on #57
Testing now.

[2016-03-20 02:49] hut8 commented on #56
Gems that have already been produced are now living there. Scripting out the switch tomorrow.

[2016-03-20 02:53] hut8 commented on #58
After doing some diagnosing, unfortunately it looks like this isn't really a memory leak, it's just bloat.

[code]

The latest PR actually reduces the number of workers since it looks to me like only 6 of the 8 are ever hit, which saves us about 250 megs right there, and we could really do with just 3.

@joshjordan comments plz

[2016-03-20 02:54] hut8 commented on #58
Also, according to `dmesg`, it looks like the OOM killer has not been run, so even though the above PIDs are different it's not because they were killed due to lack of memory.

[2016-03-20 15:09] hut8 commented on #56
Backing these up now, then I'm going to switch them.

[2016-03-20 15:57] joshjordan commented on #58
Will comment in a few hours when I'm home. At first glance, this looks like
a good move to me.

On Sat, Mar 19, 2016, 10:54 PM Liam <notifications@github.com> wrote:

[2016-03-20 20:15] hut8 commented on #56
Switched. The gems are now being served from s3! neat. Also I tested it and it seems fine.

TODO: Write script to mount s3 on startup.

[2016-03-21 14:34] #57 closed

[2016-03-22 20:10] #56 closed

[2016-03-22 20:11] hut8 opened #62 "Upstart script for S3FS"
If the server bounces, it should mount the S3FS directly at:

[code]

[2016-03-23 23:46] masonjm opened #64 "Gem version was here yesterday and gone today"
This is strange, and I'm not sure if it's an issue with rails-assets or something upstream.

Yesterday `rails-assets-d3` had version `3.5.16` available. Today, the latest version is `3.5.14`. `npm` still lists `3.5.16`, but I'm not sure if that's relevant.

I also triggered a rebuild for `d3`, but that didn't change anything.

[2016-03-23 23:54] joshjordan commented on #64
Hi @masonjm. `rails-assets` is currently experiencing a backlog of builds. We just switched servers today and got slammed with a large number of requests for gems that hadn't been built on the new machine. It looks like `3.5.16` is in the queue (https://rails-assets.org/status) but it may be around an hour before we chew through everything that's ahead of it. Sorry for the inconvenience! Should be

[2016-03-24 00:39] joshjordan commented on #64
@masonjm it looks like `3.5.16` is available now. Can you confirm?

[2016-03-24 01:44] masonjm commented on #64
Confirmed. Thanks :-)

And great job on the server move! It was almost seamless :-D.

[2016-03-24 01:44] #64 closed

[2016-03-24 10:34] jrasanen opened #65 "Service down"
We are receiving a lot of errors:

and "https://rails-assets.tenex.tech/" keeps redirecting to "https://rails-assets.org/"

[2016-03-24 13:40] jrgifford commented on #65
Still an issue!

[2016-03-24 14:21] joshjordan commented on #65
Working on it. We have a large backlog of gems to build since switching over to the new server.

You should update your sources to point at https://rails-assets.org, but that isn't going to solve the problem in the short term. We will have some intermittent downtime today while the app chews through the backlog on the new machine. Trying to minimize that; I'll poke you when the queue is empty so y

[2016-03-24 14:26] joshjordan commented on #65
I'm taking the server offline to free up some resources right now, in hopes that we can get through a big chunk of the backlog. We weren't able to serve bundle requests anyway.

[2016-03-24 15:03] jrgifford commented on #65
OK, thanks for keeping us updated!

[2016-03-24 16:18] hut8 commented on #65
I am actively working on getting the worker moved to a new instance. Will continue to update.

[2016-03-24 16:45] hut8 commented on #65
I have moved the worker off of the main server, and am working on hooking up the new instance I'm provisioning to actually build the gems and put them into the gem storage. The site is back up, although don't count on new gems being built quickly.

[2016-03-24 17:06] hut8 commented on #65
I had to bounce the main production webserver real quick in order to enable private networking; it's back up now.

[2016-03-24 17:29] hut8 commented on #65
Over the last 30 minutes (since I bounced the server) we've gotten about 282 requests per minute processed by Passenger. I have shrunk the number of Passenger processes to 4 in order to reduce memory usage, and surprisingly there are still  0 requests in queue. So that was an easy win for reducing memory usage.

I'm working hard on splitting out a separate worker instance, but that will take a lit

[2016-03-24 18:20] LPiner commented on #65
I'm not sure if this is you guys or not but my bundle install has been failing all day today.

Fetching gem metadata from https://rails-assets.org/....
Fetching version metadata from https://rails-assets.org/..
Could not find rails-assets-backbone.babysitter-0.1.11 in any of the sources

[2016-03-24 18:25] hut8 commented on #65
That's our server, yes. I added that version into the queue of things to build. Not 100% of the gems that were on the old service were transferred to the new one (my apologies for this, but it's extremely hard to synchronize them with no gap in between). These are the ones that were there:

[code]

It will be available shortly.

[2016-03-24 18:27] LPiner commented on #65
Thanks for all your hard work mate, it doesn't go unnoticed!

[2016-03-24 20:12] hut8 opened #66 "Separate worker provisioning"
Branch: separate worker

- [x] Enable private networking on all droplets (manually)
- [x] Configure PostgreSQL to listen on private network
- [x] Configure PostgreSQL HBA
- [x] Configure Redis to listen on private network
- [x] Separate worker role in hosts file
- [x] Only configure necessary parts in playbook

[2016-03-24 20:34] hut8 commented on #58
Resolved via https://github.com/tenex/rails-assets/commit/a26fd24aef6f03ab2f17482fbf81c869595357e0

[2016-03-24 20:34] #58 closed

[2016-03-24 21:15] hut8 commented on #65
We decided to roll back for now until I can get the infrastructure a bit more stable. We had a very old snapshot (early February) of Monterail's production database, so we're updating that and scaling the servers better. We'll have our mirror up and running again shortly :+1: Sorry for the inconvenience and thanks, everyone, for your patience!

[2016-03-24 21:36] hut8 opened #67 "Copy gems, indexes and DB from Shellycloud"

[2016-03-25 02:33] #67 closed

[2016-03-25 07:17] hut8 commented on #66
Resolved via #68

[2016-03-25 07:17] #66 closed

[2016-03-25 07:17] hut8 commented on #60
Resolved via #68

[2016-03-25 07:17] #60 closed

[2016-03-25 07:17] hut8 commented on #62
Resolved via #68

[2016-03-25 07:17] #62 closed

[2016-03-27 15:02] hut8 commented on #65
Infrastructure update:

* For the last 18 hours, rails-assets.org has been pointed at the new servers. During that time we've had less than 5 seconds of downtime which was caused by me renewing SSL certs via Letsencrypt. Now that I have them, that won't have to happen again. The load average hasn't even hit 1 during that time, although that's in part due to it being the weekend (specifically Easte

[2016-03-27 15:02] #65 closed

[2016-03-27 16:19] joshjordan commented on #65
:+1:

On Sun, Mar 27, 2016 at 11:02 AM Liam <notifications@github.com> wrote:

[2016-03-29 15:03] hut8 opened #72 "components.json should be generated asynchronously"
I had StatusCake pointed at components.json, and it gives me quite a few errors about timeouts. Of course I'm changing that configuration, but it made me realize that because our worker is idle  most of the time, and components.json is such a PITA to generate (and only needs to be generated when something is built), it should really be generated by the worker and then cached.

[2016-03-31 12:07] KacperPucek opened #73 "Could not fetch specs"
Hey, I am getting `Could not fetch specs from https://rails-assets.org/` when trying to fetch following gem

[code]

Is this by any chance connected with the moving to the new servers?

[2016-03-31 12:31] fschwahn commented on #73
Same here, I'm receiving the following error:
[code]

[2016-03-31 14:27] hut8 commented on #73
Hey,

Sorry for the radio silence, I was trying to put out the fire that caused this. These should be fixed. This is actually caused by a memory explosion issue in the worker processes that sort of spiraled out of control. I will spend some time today trying to track down where this happens. I apologize for the inconvenience.

[2016-03-31 15:24] #73 closed

[2016-03-31 19:59] hut8 commented on #23
Now that gems aren't served by passenger at all (hopefully), we need a different solution.

[2016-04-01 07:06] RadoMark commented on #73
Still occuring, both for _old_ `rails-assets.org` and the _new_ `rails-assets.tenex.tech`:
[code]
Additionally, I get `Could not verify the SSL certificate` when trying to use it with `https`.

[2016-04-01 14:09] otzy007 opened #74 "Rails assets down"
Hi,

There were a few days since rails-assets worked for me.
I cannot bundle with either rails-assets.org or rails-assets.tenex.tech as sources

[code]

Are there any other mirrors available?
Or there is a way so I can bundle without checking rails-assets?

[2016-04-01 15:38] hut8 commented on #74
Can you give details? What is the error that `bundle install --verbose` gives? And please point at rails-assets.org; rails-assets.tenex.tech is just going to issue a redirect to rails-assets.org

[2016-04-01 16:48] hut8 commented on #73
Hey @RadoMark. I need some additional information.

* Could you please run `bundle install --verbose`?
* What is your DNS resolving rails-assets.tenex.tech to?

https://www.ssllabs.com/ssltest/analyze.html?d=rails-assets.tenex.tech&latest -- looks okay. The certs are only good for 90 days, but that shouldn't be an issue because they're renewed via a cron job. Looks like it was last updated only 4

[2016-04-01 18:49] KacperPucek commented on #74
Hi, I can paste the stack. Interestingly enough the same setup works for my "regular" Ruby application but fails for JRuby, here's the stack:

[code]

[2016-04-01 18:52] hut8 commented on #74
Got it. Thanks so much for the information. My wild guess is that jRuby's SSL implementation doesn't support SNI, which we're using currently. I'll add another IP address soon so that rails-assets.tenex.tech and rails-assets.org can work without SNI. I'll look into it more shortly.

[2016-04-01 18:57] hut8 commented on #74
@KacperPucek oh wow, check this out: https://github.com/jruby/jruby/issues/3764 -- a bug was filed against jruby which was actually encountered with rails-assets.org :)

See also: https://github.com/jruby/jruby/issues/2220

They mention a bunch of JVM flags, such as:

[code]

Is this enough information for you? I want to try to help fix this but that's all I can do in 5 minutes :wink:

[2016-04-01 18:58] RadoMark commented on #73
Duplicate: #74

[2016-04-01 18:59] hut8 commented on #73
@RadoMark thanks -- can you confirm you're using jRuby?

[2016-04-01 19:08] RadoMark commented on #73
@hut8 Yes. I work with @KacperPucek, we met the issue together.

[2016-04-01 19:11] hut8 commented on #74
@RadoMark @KacperPucek if either of you can suggest a better SSL configuration, I will gladly accept it so long as it's not vulnerable to POODLE, etc -- I want to get this fixed ASAP but have quite a few other things going on, including rails-assets stuff. The configuration file is here: https://github.com/tenex/rails-assets/blob/master/infrastructure/nginx-site.conf.j2

[2016-04-01 20:01] RadoMark commented on #74
@hut8 I don't have time nor skills/knowledge to fix this, sorry (not now at least). Thanks for quick diagnose, we really appreciate that! Fingers crossed for the fix.

[2016-04-01 20:12] KacperPucek commented on #74
@hut8 +1 for what @RadoMark said. Thanks a lot!

[2016-04-03 14:55] hut8 commented on #74
@RadoMark @KacperPucek This should be resolved.

I could reproduce this using JDK 8 and jruby-9.0.5.0. I changed the configuration for nginx on rails-assets.org (which serves gems) and now it works. For what it's worth, this was the only change I made:

https://github.com/tenex/rails-assets/commit/3120e5bf6edf636f84a1a599b7e7ed4479f96a8a

I shamelessly copied that list from the "Intermediate compa

[2016-04-03 19:09] #25 closed

[2016-04-03 19:09] hut8 commented on #25
Serving the static files turns out to be by far the least resource-intensive part, so closing.

[2016-04-04 08:14] RadoMark commented on #74
@hut8 switched to jruby-9.0.5.0 (jdk8) and still got the error:
[code]

[2016-04-04 08:47] otzy007 commented on #74
My problem was with jRuby too. 1.7.23 on OS X 10.11.4

Looks like now it's fixed and it's showing only a warning if I set the env variable SSL_CERT_FILE to this keychain https://raw.githubusercontent.com/bagder/ca-bundle/master/ca-bundle.crt

[code]

Using jruby without setting env variable SSL_CERT_FILE to that ca-bundle file I end up with the same error as @RadoMark

[2016-04-04 14:51] fnando commented on #42
FYI, I'm working on a gem that converts NPM packages into Rubygems. It's working right now, including resolving/generating dependency packages as well. I was thinking about creating a rails-assets like for NPM because a) I think bower support should be dropped as NPM clearly won this fight and b) I didn't know that Tenex took over it.

Anyway, here's a like: https://github.com/fnando/ene (check th

[2016-04-04 15:54] joshjordan commented on #42
Nando, that is awesome. Would love to chat with you a little bit more about
ene. Maybe theres an opportunity for us to work together! Want to shoot me
an email at josh.jordan@gmail.com ?

On Mon, Apr 4, 2016 at 10:51 AM Nando Vieira <notifications@github.com>
wrote:

[2016-04-05 02:27] hut8 commented on #72
Resolved via https://github.com/tenex/rails-assets/pull/78

Had lots of surprises on this one with ActiveRecord.

[2016-04-05 02:27] #72 closed

[2016-04-05 02:33] hut8 commented on #74
@RadoMark that looks like a different error. The first one was that it couldn't handshake and the second was a `CertificateFailureError`.  Please use the fix that @otzy007 described.

See also, https://github.com/jruby/jruby/issues/3765

[2016-04-05 02:33] #74 closed

[2016-04-05 12:59] jnylen opened #79 "IRC?"
Any IRC channel for the project?
Maybe #rail-assets @ freenode can be something?

[2016-04-05 13:03] joshjordan commented on #79
I think @hut8 may have set up a gitter.im. @hut8 is that true?

On Tue, Apr 5, 2016 at 8:59 AM Joakim Nylén <notifications@github.com>
wrote:

[2016-04-05 13:25] hut8 commented on #79
@joshjordan LIES!!! Actually it was @sheerun who did so. Later today I want to get the work from this repo merged into the main rails-assets one. I'll update this later.

[2016-04-05 15:39] sheerun opened #80 "Move code development to rails-assets/rails-assets"
Hey,

I'd like to support you with moving code development and issues to rails-assets/rails-assets organization.

Please let me know what you need me to do.

[2016-04-05 15:42] hut8 commented on #80
Hey! Thanks so much. I'm making a PR literally right now. I've been swamped the past couple of days with some optimizations and other work on this project as well as client work. I'll make a list after I open the PR.

[2016-04-05 15:58] hut8 commented on #80
See PR https://github.com/rails-assets/rails-assets/pull/320 -- sorry about the massive size.

You can tweet about the switch if you would like :+1:
After that PR, adding the Gitter badge to the README would be cool (it looks like a bot made a PR for that already).
We can't migrate issues, right? GitHub's issue tracker isn't great. I will go through and move those that I think are legit concerns.

[2016-04-05 16:32] hut8 commented on #38
Actually we use new relic now, so this is wrong.

[2016-04-05 16:32] #38 closed

[2016-04-05 17:52] sheerun commented on #80
Hey,

I've resolved conflicts and merged your work. You can tweet about it if you want, I've just sent twitter credentials :) As for issues, it's best to copy-paste them to Rails Assets repository.

I've made you a "Team maintainer" of rails-assets so you can invite other people as well.

Thank you for you work
Adam

[2016-04-06 09:50] zprima opened #81 "Retrying fetcher due to error (2/4)"
Ruby: 2.1.8.p440 (i386-mingw32)
Windows 10

Tried http://rails-assets.tenex.tech/, http://rails-assets.org

HTTP GET http://rails-assets.org/api/v1/dependencies
HTTP 301 Moved Permanently
HTTP GET https://rails-assets.org/api/v1/dependencies
Fetching source index from http://rails-assets.org/
Retrying fetcher due to error (2/4): Bundler::Fetcher::CertificateFailureError Could not verify the SSL ce

[2016-04-06 10:05] zprima commented on #81
Or at least put on the website or somewhere what the actions are.

- Go to a github gist (https://gist.github.com/fnichol/867550) and download the .pem file
- Add it somewhere, and set an windows enviromental setting named SSL_CERT_FILE that points to the file location.

[2016-04-06 14:32] hut8 commented on #81
I'm on Ruby 2.3 with Windows 10 and it works fine. I haven't installed any special certificates. Did you use the Ruby Installer? I'm using MSYS2.

[2016-04-06 15:37] zprima commented on #81
Yes, used Ruby Installer for Windows, not using MSYS2

[2016-04-07 07:51] jnylen commented on #79
Wouldn't a IRC channel on freenode be kinda good too? As most open source projects is on there, such as #letsencrypt etc?

[2016-04-08 10:09] hakkiplaten opened #82 "jquery-oembed-all has no versions defined"
Anybody know why this is? It should have a valid `bower.json`:

https://github.com/nfl/jquery-oembed-all/blob/master/bower.json

Thanks!

[2016-04-08 10:49] hut8 commented on #82
The version that's defined there is ignored by bower:

https://github.com/bower/spec/blob/master/json.md#version

[2016-04-08 10:56] hakkiplaten commented on #82
@hut8 doesn't jquery-oembed-all already have a git tag? Or maybe it needs to be semver as well?

[2016-04-08 11:03] hut8 commented on #82
The tag should be semver, I believe:

https://github.com/npm/node-semver#range-grammar

[2016-04-08 11:12] hakkiplaten commented on #82
Cool, gotcha. Thanks!

[2016-04-08 12:48] joshjordan commented on #82
Low priority, I think, but it seems like we should actually capture packages that are "invalid" for some reason, and explain why, and how to fix them in the UI. I suspect this is not the last time we will see a github issue like this one. Thoughts, @hut8 @hakkiplaten ?

[2016-04-08 13:01] hut8 commented on #82
As much as I love mysteries, @joshjordan is probably right. It seems like there are a few common causes we could explain pretty easily.

[2016-04-11 16:35] hut8 opened #84 "Passenger queue fills up and causes periodic downtime due to index mutex"
Root of problem is at: https://github.com/tenex/rails-assets/blob/master/app/controllers/main_controller.rb#L70

[code]

Inside of the `Reindex` worker:

[code]

This is actually in the most common code path in the web application (the dependency endpoint).

A real fix for this would involve optimizing the reindex or checking to see if any of the requested dependencies would be affected by an inde

[2016-04-11 17:34] hut8 commented on #84
Temporary kludge that solves this: https://github.com/tenex/rails-assets/pull/85

[2016-04-11 20:37] hut8 opened #86 "Fix travis's use of Bower"
For reasons I have yet to investigate:

https://travis-ci.org/tenex/rails-assets/builds/122295519 - this build failed

Then this commit was made:
https://github.com/tenex/rails-assets/commit/afb35026b514881c230a89c4498dc86671dddcc6

https://travis-ci.org/tenex/rails-assets/builds/122307474 - then this build passed

So the only thing that breaks it is the upgrade of Bower. But clearly bower is stil

[2016-04-13 14:27] hut8 opened #87 "Blacklist of broken versions"
In our error logs, we have a lot of Bower-related build issues that have nothing to do with our site.

If a specific version of a package depends on a non-existent dependency, or otherwise simply breaks during its build, it should be placed onto a blacklist. There are only a few packages causing issues, but now that I get alerts when things break, it interrupts me constantly and leads to alarm fat

[2016-04-13 15:06] hut8 opened #88 "Components.json cache expiration issue"
components.json should be expired whenever any version is built or destroyed (or, hopefully equivalently, during a reindex). The builds should be happening on the build server, but sometimes they're happening on the web server.

Currently the components.json file isn't linked into the NFS share that's symlinked to `public`. This was probably an oversight on my part. Therefore, when a build server

[2016-04-14 17:46] hut8 commented on #87
Nevermind, I misunderstood the problem. The biggest problem is the difference in semantics between versions (bower vs. rails-assets). The faulty error messages in our logs should be resolved via silencing errors having to do with non-existent bower packages (https://github.com/tenex/rails-assets/pull/89)

[2016-04-14 17:46] #87 closed

[2016-04-14 22:28] hut8 commented on #81
@zprima So you would be satisfied with a link to the gist and instructions in the README?

Also, have you tried this? http://blog.dustinkirkland.com/2016/04/howto-ubuntu-on-windows.html I've been playing around with it and it's pretty sweet, but lots of bugs. https://github.com/Microsoft/BashOnWindows/issues/163 in particular makes ruby stuff hard.

[2016-04-20 07:15] zprima commented on #81
@hut8 That would be nice.

I've solved it in my second comment and putted what the steps are. No need to use any MSYS2 or Bash for Windows.

[2016-04-20 07:15] #81 closed

[2016-04-26 02:52] anitagraham opened #91 "Question: using rails-assets in gems"
Hi,
I have begun using rails-assets in my application. :+1:
Now I've added it to a gem which is used in the application, but the assets are not being found.

In the gem's Gemfile:
[code]

In the application's Gemfile:

[code]

In the logfile when starting the application
[code]
The load paths include the rails-assets paths for the assets in the application's Gemfile, but not the  loadpath for `mul

[2016-04-26 02:53] anitagraham commented on #91
oops, wrong place. sorry

[2016-04-26 10:15] Faisal-nfl opened #92 "Sprockets::FileNotFound: couldn't find file 'adminlte' with type 'application/javascript'"
(If this is not the right place to ask, kindly guide me to where is right place )
I am using
source 'https://rails-assets.org' do
  gem 'rails-assets-adminlte'
end
in my rails app, it works fine on local, also for precompilation for production
but when I try to deploy it on digital ocean it say
"Sprockets::FileNotFound: couldn't find file 'adminlte' with type 'application/javascript'"
I never used

[2016-04-26 11:32] hut8 commented on #92
What is in your main application javascript file? (e.g., application.js)?

[2016-04-26 12:53] Faisal-nfl commented on #92
yes application.js is main javascript file

[2016-04-26 15:34] hut8 commented on #92
@Faisal-nfl can you please tell me what is in application.js?

[2016-04-26 22:15] noiseunion opened #94 "problem with Digital Ocean hosting"
so this is a neat one.  I am unable to deploy to my servers at the moment, which are currently hosted with Digital Ocean, because they are in the same datacenter as the rails-assets.org servers.  As a result, using the suggested source address of `https://rails-assets.org` fails and my deploy pops during the bundle install on the server.  The issue is that my servers can not communicate with the r

[2016-04-26 22:18] joshjordan commented on #94
We're definitely not going to leave you hanging or require something like that from you. I also don't want to plaster that IP up on the public internet, though. :) Would you mind shooting me an email at josh.jordan@gmail.com so I can give you this while we work with DO on a better, more permanent solution?

@hut8 might know more about this than I do

[2016-04-26 22:21] noiseunion commented on #94
Will do @joshjordan thank you.

[2016-04-27 01:57] hut8 commented on #94
@noiseunion somewhat surprisingly I discovered this a little while ago: https://github.com/rails-assets/rails-assets/issues/322

If Josh hasn't provided you with the IP, email me at liam@tenex.tech and I will get it to you.

[2016-04-27 12:47] Faisal-nfl commented on #92
It was irritating.
At last, I opened "rails-assets-adminlte" gem and copied the adminlte.js and aap.js file and pasted them in my assets/javascripts and changed the path in file accordingly.
And it did the job

[2016-04-27 12:48] Faisal-nfl commented on #92
It was irritating.
At last, I opened "rails-assets-adminlte" gem and copied the adminlte.js and aap.js file and pasted them in my assets/javascripts and changed the path in file accordingly.
And it did the job

[2016-04-27 12:49] joshjordan commented on #92
But can you tell us what the contents of your `application.js` when it was not working? We have no way to diagnose and fix a potential bug otherwise.

[2016-04-27 12:56] Faisal-nfl commented on #92
Sure.
Actually, In assets/javascripts, I have to folders **admin** and **web** .
Issue created was in assets/javascripts/admin/application.js
and its contents were
[code]

[2016-04-27 13:14] joshjordan commented on #92
This looks like a case-sensitivity issue. Rails Assets tells you to use `require adminlte`, but you actually would've needed `require AdminLTE`. I'll create an issue. Thanks!

[2016-04-27 13:14] #92 closed

[2016-04-27 13:14] joshjordan opened #95 "Use consistent casing"
Either downcase the main asset files, or give proper guidance on what case to use in your asset pipeline. https://github.com/tenex/rails-assets/issues/92#issuecomment-215073212

[2016-04-27 13:30] Faisal-nfl commented on #92
what the hell that was
I spend more that a day on this
and rails-assests has disappointed me.

[2016-04-27 13:33] joshjordan commented on #92
I'm sorry, friend. I'm not sure what the purpose of your comment is.

We responded within an hour, and if you had done what @hut8 asked of you, we could've found the bug very quickly.

[2016-04-27 13:44] Faisal-nfl commented on #92
Disappointment in terms of **case issue**.
I make such kind of mistakes when I started programming during studies.
Buts its not good to make such mistakes by professional.
However thanks man for soln.

[2016-04-27 15:14] noiseunion commented on #94
I am trying the IP that @joshjordan got to me yesterday.  Is DO working on a better fix for this?  I am guessing this will be an issue that occurs more and more.

[2016-04-27 15:16] hut8 commented on #94
They are working on a better solution. Pinging that IP address will fix it for now as a workaround. Personally I would probably add something in an init script that just pings it so that it's always in the ARP table in case your server reboots.

[2016-04-27 15:17] joshjordan commented on #94
@noiseunion to clarify, @hut8 is saying you can JUST ping it, and continue to use rails-assets.org as the Gemfile's `source`, yes?

[2016-04-27 15:19] noiseunion commented on #94
yeah unfortunately I have not found that solution to work.  I have pinged the IP and it never comes back for me.

[2016-04-27 15:21] noiseunion commented on #94
although, I think I only pinged the 'rails-assets.org' domain.  I don't know if I pinged the floating IP directly.  Let me try that quick and see if that makes a difference.

[2016-04-27 15:22] hut8 commented on #94
Actually you need to ping the *non-floating* IP. If you don't have the IP address, email me at liam@tenex.tech

[2016-04-27 15:23] hut8 commented on #88
I fixed this at some point by adding it to the linked files in capistrano.

[2016-04-27 15:23] #88 closed

[2016-04-27 15:25] noiseunion commented on #94
@hut8 so to be clear, you are saying that if I ping the non-floating IP, the floating IP will start working?  Or will my gemfile still need to reference the non-floating IP directly for source?

[2016-04-27 15:27] hut8 commented on #94
Your gemfile absolutely must reference `https://rails-assets.org` because the SSL certs won't work for an arbitrary IP address. I know this seems backwards, but yes, if you ping the non-floating IP (sinking IP?) then the floating IP will start working. Magic :confetti_ball:

[2016-04-27 15:28] noiseunion commented on #94
Yeah I just saw it work that way.  I can definitely do a script to handle this for now, but it obviously is not a solid long-term solution.  Hopefully DO can get it resolved soon.  I really appreciate the help from both of you guys!  Thank you.

[2016-04-27 16:05] #94 closed

[2016-04-27 16:41] hut8 commented on #34
Implemented.

[2016-04-27 16:41] #34 closed

[2016-04-27 16:42] hut8 commented on #50
Done :confetti_ball:

[2016-04-27 16:42] #50 closed

[2016-04-28 10:10] balvig opened #98 "rails-assets-alasql-0.2.2 not found"
Hello guys, first of all thanks so much for picking up this project and keeping it alive! 🙏

Ran into an issue today that is preventing us from deploying with capistrano:

[code]

The strange thing is that:

1. It seems like that gem should be [available on rails-assets](https://rails-assets.org/#/components/alasql?version=0.2.2)
2. This gem is nowhere to be found in `Gemfile.lock` so I don't unde

[2016-04-28 11:36] Faisal-nfl commented on #92
Ohhh man
**"AdminLTE"** is still not working with error
couldn't find file 'AdminLTE' with type 'application/javascript'

[2016-04-28 11:37] Faisal-nfl commented on #95
Ohhh man, you told me to use **"AdminLTE"**
but still not working with error
couldn't find file 'AdminLTE' with type 'application/javascript'

[2016-04-28 13:16] joshjordan commented on #95
@Faisal-nfl, I thought you were using the assets directly rather than requiring a gem? That's what you indicated in #92:

And it did the job

We're in the process of fixing the bug. Since this gem was broken for everyone, we fixed this gem so that the casing is consistent - that's the point of this issue. There is a job running that is searching for others that have been affected, and fixing them

[2016-04-28 13:16] joshjordan commented on #92
Don't need to have two threads of conversation going on this at once, @Faisal-nfl. Please don't copy/paste your responses in two different places. It doesn't t help anyone.

[2016-04-28 13:36] joshjordan commented on #98
Our pleasure!

Whoa, this is a strange one! I think you are right on both points. Can you post your `Gemfile`, as a sanity check? Can shoot it to me by email if you prefer to keep it private: josh.jordan@gmail.com

I'm hoping against hope there isn't a transient failure here. In the meantime, can you try to `bundle` locally, or try your deploy again? I was able to `bundle install` rails-assets-ala

[2016-04-28 15:11] joshjordan commented on #91
Are you seeking help elsewhere or do you want to address it here? :-) just
don't want to duplicate effort.

On Thu, Apr 28, 2016, 3:15 AM Anita Graham <notifications@github.com> wrote:

[2016-04-28 19:15] hut8 commented on #84
Fixed via:
https://github.com/tenex/rails-assets/commit/0576d5d0f755f1a7437e697fa97f25c64efda46f
https://github.com/tenex/rails-assets/commit/e0f06338f8560c342259a474935b7ded3717e385

[2016-04-28 19:15] #84 closed

[2016-04-28 20:42] balvig commented on #98
@joshjordan thanks for looking into this!! 🙇  I've sent you the gemfile.
As an aside this morning I tried

[code]

[2016-04-29 13:57] hut8 commented on #43
:+1: Looks pretty fixed. @jnylen, feedback appreciated.

[2016-04-29 13:57] #43 closed

[2016-05-02 19:56] joshjordan commented on #98
Jens, I have not yet gotten to the bottom of this in terms of *why* you're
encountering this gem's installation, however, I believe I've corrected the
error with alasql 0.2.2 so at least you will be unblocked. Can you confirm
that this is working now: gem install rails-assets-alasql -v 0.2.2 --source
https://rails-assets.org

On Thu, Apr 28, 2016 at 4:48 PM Jens Balvig <notifications@github.com>
w

[2016-05-02 20:18] joshjordan commented on #98
I dug into your Gemfile, and expected to see rails-assets-alasql as a
transitive dependency, but I do not see that in the Gemfile.lock after
bundle installing this. I'm going to drop the investigation for now until
we have more evidence of the underlying problem.

On Mon, May 2, 2016 at 3:55 PM josh.jordan@gmail.com <josh.jordan@gmail.com>
wrote:

[2016-05-03 15:47] hut8 commented on #79
Now that I've had plenty of time to think about this, I feel like it's better to have tickets of individual issues, and document anything that people find confusing in the README. I don't think I would be able to dedicate time to paying attention to the channel at all. Thoughts, @joshjordan ?

[2016-05-03 21:57] joshjordan commented on #79
For better or for worse, I agree. I think we've been able to respond pretty quickly to opening github issues, and I don't think I'd be able to (read: remember to) keep my eyes on another channel. Maybe we can test it at some point, but for now I'm going to close the issue.

[2016-05-03 21:57] #79 closed

[2016-05-05 23:58] balvig commented on #98
Dunno if it helps, but now it's happening with a different gem (which is also not a transitive dependency...):

[code]

[2016-05-06 00:13] joshjordan commented on #98
@balvig yikes! Okay. I'm on it. Did it start working, and now break, or was this just the next error after the `alasql` error was resolved? Can you post or send me the full deployment output?

[2016-05-06 00:27] joshjordan commented on #98
I do want to get to the bottom of this, but I can't seem to reproduce this. Does it happen only when deploying, or also when `bunde install`ling locally? If you use a brand new/empty gemset, do you see this?

I do not when doing `bundle install` with your `Gemfile`, but I also need to comment a number of gems because they are vendored in your app. Would love to get involved more deeply! :)

[2016-05-06 00:34] balvig commented on #98
Great, thanks @joshjordan! Let me try it out locally with an empty gemset and get back to you asap :)

Re deployment output, there's a lot of it (lot of unrelated stuff too), but the gist of it is it gets to the bundler stage, running bundler on several hosts:

[code]

It _seems_ several of them succeed, but then one will fail:

[code]

[2016-05-06 00:42] joshjordan commented on #98
Crazy. Is there any reason to expect that that host may be doing something different? Is it always the same one? Can we get more verbose output (for example, what command its actually running on this step)?

[2016-05-06 00:49] balvig commented on #98
It was actually a different host failing earlier, so seems pretty random... 😢

Here's some output using `cap deploy production --trace` that was captured when alasql was failing:

[code]

Good question! It's hard to tell as It seems to only happen when we make changes to the gemfile (even _removing_ gems!), but I do think it actually worked for one deploy where we had a gemfile change after the al

[2016-05-06 01:18] joshjordan commented on #98
What we really need to dig into is "why is it requesting this gem?"

The output is extra confusing, since it includes other fatal errors: `Not a
git repository (or any of the parent directories): .git` and it isn't clear
if those are related. @balvig, for now, I'm going to wait on your report on
bundling with a fresh gemset. Not much else to go on right now :)

On Thu, May 5, 2016 at 8:49 PM Jens

[2016-05-06 01:19] balvig commented on #98
Ah, please ignore `Not a git repository (or any of the parent directories): .git`, this was happening back when everything was working properly 😅

Fresh gemset seemed to work just fine locally... 😢

[2016-05-06 01:54] joshjordan commented on #98
Damn. I'm out of tricks - without a reproducible case, my next step would be to start debugging through bundler to trace the reason its requesting this gem, but I don't have access to your boxes or your deployment setup :)

[2016-05-06 13:55] pch commented on #94
I've been experiencing the same issue. Just to make it easier for others to find:

The work-around is to ssh to your server and run `ping 45.55.42.52` - bundle should work (magically) afterwards.

[2016-05-06 15:09] hut8 opened #99 "Revisit production logging"
It looks like although `rails_stdout_logging` is being used, we still have a (rather large) production.log file. Also, in the nginx logs, there are no timestamps for the logs which makes them much less useful.

[2016-05-06 17:44] hut8 opened #100 "Status page usability issues"
The status page has some usability issues:

* All results are returned. We only need the ones that failed fairly recently.
* It doesn't show `pending_builds`, `pending_index` unless there are some present. It should at least show those sections along with "None."
* Ideally, it should show the last time that `UpdateScheduler` completed.

[2016-05-06 20:25] hut8 commented on #100
Fixed.

[2016-05-06 20:25] #100 closed

[2016-05-10 16:43] hut8 opened #103 "Backup server"
Implementation:

In NYC1, create a 4 GB instance with a beta storage drive attached that's big enough to hold the gems and indexes. Periodically (every 4 hours?) rsync the gems and dump the master database, copying them over locally.

Failover procedure: the slave will have a simple script that tests to see if the master is up. As soon as the slave detects that the master is unavailable, it will u

[2016-05-10 17:50] snowdall commented on #74
Ok ... I believe I have found a solution for this.  Or at least a solution that works on my setup.  Firstly, I'm on a Mac OS X 10.10.5.  I'm running jruby-1.7.19.  When rails-assets changed hosting, my certificate started failing.  So in the Gemfile block I just switched it from https to http and that worked for a while.  Then rails-assets.org redirected to the SSL secure port and I was screwed.

[2016-05-12 14:01] lawso017 opened #105 "Unsure how to migrate component to new fork"
Hi there -- would like to include bootstrap3-wysihtml5-bower via rails-assets, however the package:
https://rails-assets.org/#/components/bootstrap3-wysihtml5-bower

references an obsolete fork:
https://github.com/Waxolunist/bootstrap3-wysihtml5-bower

Is there a way to redirect rails-assets to the currently maintained fork here?
https://github.com/bootstrap-wysiwyg/bootstrap3-wysiwyg

Thanks!

[2016-05-12 17:54] hut8 commented on #105
Indeed there is! Simply adding the namespaced fork (i.e., `bootstrap-wysiwyg/bootstrap3-wysiwyg`) *should* work, however I just tried that and am encountering an unexpected error. I'll keep you updated as I debug this.

[2016-05-12 18:47] hut8 commented on #105
There's a bug in [bootstrap3-wysiwyg's documentation](https://github.com/bootstrap-wysiwyg/bootstrap3-wysiwyg#installation). They say to install `bootstrap3-wysihtml5-bower` from Bower, but clearly on [the bower package repository](http://bower.io/search/?q=bootstrap3-wysihtml5-bower), that links to the old fork.

After [incompletely typing the search](http://bower.io/search/?q=bootstrap3-wysiwyg)

[2016-05-12 23:38] hut8 opened #106 "components.json not being updated on production"
Not sure why, but the components.json file isn't being deleted as it should be via the `PageCacheManager.expire_page` call. This causes old versions to be displayed as the "latest" on the frontend.

[2016-05-12 23:41] hut8 commented on #106
I just realized why; `expire_page` just ends up deleting the symlink, and the original file stays intact :-1:

[2016-05-13 00:02] joshjordan commented on #106
Can we use a hardlink here?

[2016-05-13 00:03] hut8 commented on #106
When you delete a hardlink, it just decrements the hardlink count of that inode. It's not until it hits zero that it actually removes the file. I'm almost done with a PR, I just have to make sure that the worker doesn't try to precompile the assets during deployment.

[2016-05-14 02:57] hut8 opened #108 "Error log flooded with ActionView::MissingTemplate"
Someone is hitting `/` with `Accept-Content-Type: application/json`, and it's flooding our error logs with:

[code]

We should be throwing `UnknownFormat` here anyway, and also handling it somehow, returning a 406 instead of 500.

[code]

[2016-05-14 02:59] hut8 commented on #108
https://github.com/tenex/rails-assets/tree/lb/improve-unknown-format-error-handling

[2016-05-15 16:48] hut8 opened #110 "Add sponsorship link from Sentry"
Sentry just sponsored us and so we should add a link.

[2016-05-15 19:04] hut8 commented on #108
Resolved via #109

[2016-05-15 19:04] #108 closed

[2016-05-15 19:05] hut8 commented on #105
@lawso017 I'll be closing this tomorrow unless you have further questions.

[2016-05-15 19:08] hut8 commented on #98
@balvig I'm going to go ahead and close this in day or two unless you have updates regarding the differences between the hosts (do they end up with different `Gemfile.lock`s?), or want additional help.

[2016-05-15 19:09] hut8 commented on #91
I'm going to go ahead and close this since it's also open on the main fork. If you need more assistance please let us know.

[2016-05-15 19:09] #91 closed

[2016-05-15 19:09] lawso017 commented on #105
Thanks, Liam. That makes sense and appreciate your followup. Thanks for
your efforts in supporting this tremendously useful platform.

On Sun, May 15, 2016 at 3:05 PM, Liam <notifications@github.com> wrote:

--
William (B.J.) Lawson, MD
919.335.3107 (direct)

[2016-05-15 19:10] #105 closed

[2016-05-15 20:16] #106 closed

[2016-05-15 20:16] #110 closed

[2016-05-16 07:58] balvig commented on #98
Thanks @hut8! We're still seeing this intermittently, and currently investigating https://github.com/sonots/capistrano-bundle_rsync as to whether that has some influence on the bug occurring. Will re-open if we finde more info!

[2016-05-16 07:58] #98 closed

[2016-05-20 11:15] hut8 commented on #53
Bower actually already supports this, we just don't index the data in the `keywords` field of the bowerfile.

[2016-05-20 11:15] #49 closed

[2016-05-20 11:16] hut8 commented on #23
Solved well enough by shell scripts for now.

[2016-05-20 11:16] #23 closed

[2016-05-20 11:17] hut8 commented on #11
Looks fixed.

[2016-05-20 11:17] #11 closed

[2016-05-20 15:36] hut8 commented on #44
@joshjordan My opinion is that this is somewhat risky since "forks" mean a lot of things in different contexts. The two examples given by @jnylen illustrate this. With the angular example:

https://rails-assets.org/#/components/angular
https://rails-assets.org/#/components/angular2

These aren't actually forks at all, in fact, they actually point to the same Git repo! They're identical clones exce

[2016-05-20 16:25] hut8 opened #113 "Support new index format"
Bundler 1.12 supports the new index format:

http://bundler.io/blog/2016/04/28/the-new-index-format-fastly-and-bundler-1-12.html

This sounds like it would take a huge load off our servers, and I think that updating Reindex would probably not be impossible.

[2016-05-20 17:24] joshjordan commented on #44
I do agree. I also don't want to bake in github-specific functionality. Let's stick to data provided by bower.

[2016-05-20 17:24] #44 closed

[2016-05-20 22:11] hut8 commented on #86
I was totally wrong about this; the bower versions are totally different.

[2016-05-20 22:11] #86 closed